docs/workflow_export.json
{
  "name": "Smart-Sync Concierge - Appointments",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointments/process",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "default"
    },
    {
      "parameters": {
        "functionCode": "const input = $input.item.json;\nconst data = input.body || input;\nreturn {\n  prompt: data.prompt || \"\",\n  user_timezone: data.user_timezone || \"Europe/Madrid\",\n  user_id: data.user_id || \"anonymous\",\n  metadata: {\n    n8n_execution_id: $execution.id,\n    timestamp: new Date().toISOString(),\n    source: \"n8n_webhook\"\n  }\n};"
      },
      "name": "Preparar Datos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://smartsync.codeia.dev/api/v1/appointments/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 797e8fed767155a3854c7337caf5fe9278468270"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersJson": "={{$json}}",
        "options": {
          "timeout": 30000,
          "redirects": {
            "follow": true,
            "maxRedirects": 21
          },
          "ignoreHttpStatusCode": false
        }
      },
      "name": "Llamar Django API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "agentType": "openAiFunctionsAgent",
        "input": "={{$json.prompt}}",
        "tools": [],
        "model": {
          "value": {
            "__rl": true,
            "value": "OpenRouter Chat Model",
            "resource": "openRouterModel"
          }
        },
        "options": {
          "maxIterations": 10
        }
      },
      "name": "AI Agent (Haiku)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "model": "openrouter/anthropic/claude-haiku-4.5:beta",
        "options": {
          "temperature": 0.7,
          "maxTokens": 300
        }
      },
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        850,
        450
      ],
      "credentials": {
        "openRouterApi": {
          "id": "openRouterApi",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "statusCode": 200,
        "options": {}
      },
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Input": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Llamar Django API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar Django API": {
      "main": [
        [
          {
            "node": "AI Agent (Haiku)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Haiku)": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {}
  },
  "settings": {}
}