docs/workflow_with_gmail.json
{
  "name": "Smart-Sync Test - Email Response",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smartsync-prod/cita-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "smartsync_cita_email_webhook"
    },
    {
      "parameters": {
        "functionCode": "const input = $input.item.json;\nconst data = input.body || input;\n\nconst appointment = {\n  prompt: data.prompt || \"Sin especificar\",\n  timezone: data.user_timezone || \"Europe/Madrid\",\n  user_id: data.user_id || \"anonymous\",\n  created_at: new Date().toISOString(),\n  status: \"pendiente_confirmacion\"\n};\n\nconst response_message = `\nSolicitud de Cita Recibida\n==========================\n\nDetalles:\n- Solicitud: ${appointment.prompt}\n- Zona Horaria: ${appointment.timezone}\n- Usuario ID: ${appointment.user_id}\n- Fecha: ${appointment.created_at}\n- Estado: ${appointment.status}\n\nPronto recibirás confirmación de tu cita.\n`;\n\nreturn {\n  appointment: appointment,\n  message: response_message,\n  notification_needed: true\n};"
      },
      "name": "Generar Respuesta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "toEmail": "yosnap@gmail.com",
        "subject": "Solicitud de Cita Recibida - Smart-Sync",
        "textPlain": "={{$json.message}}",
        "options": {}
      },
      "name": "Enviar por Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmailOAuth2",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Webhook Input": {
      "main": [
        [
          {
            "node": "Generar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Respuesta": {
      "main": [
        [
          {
            "node": "Enviar por Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar por Email": {
      "main": [
        []
      ]
    }
  },
  "settings": {}
}